<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>

<body>
<div class="col-md-12">
    <div style="margin: 5px;">
        <center><h5>Get ready to search flights!!!</h5></center>
    </div>
    <form method="post" action="#" th:action="@{/search}" th:object="${searchCriteria}">
        <table class="table" style="background-color: #eeeeee">
            <tr>
                <td>
                    <p th:text="'From: '"/>
                    <select title="Source" class="form-control" id="source" name="source" th:required="required" th:field="*{source}">
                        <option value="">Select Source</option>
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}">
                        </option>
                    </select>
                </td>

                <td>
                    <p th:text="'To: '"/>
                    <select class="form-control" id="destination" name="destination" th:required="required" th:field="*{destination}">
                        <option value="">Select Destination</option>
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}">
                        </option>
                    </select>
                </td>

                <td>
                    <p th:text="'Travel Class: '"/>
                    <select class="form-control" id="travelClass" name="travelClass" th:required="required" th:field="*{travelClass}">
                        <option value="">Select Class</option>
                        <option th:each="value : ${serviceClassList}"
                                th:value="${value}"
                                th:text="${value}"
                        >
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <p th:text="'Number of passengers: '"/>
                    <input class="input-sm" type="number" name="seatsRequested" value="1" min="1" size="3" th:field="*{seatsRequested}"/>
                </td>

                <td>
                    <p th:text="'Departure Date: '"/>
                    <input type="date" name="departureDateString" th:field="*{departureDateString}"/>
                </td>
                <td>

                </td>
            </tr>
        </table>

        <input type="submit" value="Submit"/>
    </form>
</div>

<br/>

<div class="col-md-8" th:if="${resultsFound} == true">
    <div style="margin: 5px;">
        <center><h5>Want to board these flights?</h5></center>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Flight</th>
            <th>Carrier</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Booking Cost</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="searchResult : ${searchResults}">
            <td th:text="${searchResult.flightNumber}"/>
            <td th:text="${searchResult.carrierType}"/>
            <td th:text="${searchResult.source}"/>
            <td th:text="${searchResult.destination}"/>
            <td th:text="${searchResult.bookingPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12" style="padding:5px; background-color: #eeeeee;" th:if="${resultsFound} == false">
    <center>Please bear with us, try again...</center>
</div>
</body>
</html>
